:root {
  --main-bg-color: rgb(3, 11, 22);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  min-height: -webkit-fill-available;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#message-box {
  min-height: -webkit-fill-available;
  max-height: 800px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

#header {
  background-color: rgb(15, 33, 46);
  width: auto;
  display: flex;
  flex-direction: row;
  color: white;
  box-shadow: 0px -2px 7px 5px #000000;
  z-index: 2;
  padding: 20px;
}

#online {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  flex-basis: 0;
}

#titre {
  flex-grow: 2;
  display: block;
  margin: auto;
  text-align: center;
  flex-basis: 0;
}

#titre h2 {
  margin: 0;
}

#username {
  display: block;
  margin: auto;
  flex-grow: 1;
  flex-basis: 0;
}

#username input {
  height: 25px;
  color: rgb(255, 255, 255);
  background: rgb(15, 33, 46);
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px, rgb(0 0 0 / 12%) 0px 1px 2px 0px;
  border: 2px solid rgb(47, 69, 83);
  border-radius: 0.25rem;
  letter-spacing: 0px;
  font-weight: 500;
  transition: all 200ms ease-out 0s;
  outline: 0px;
  cursor: text;
  padding: 0.5em;
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  min-height: calc(1.5em + 4px);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  width: calc(100% - 0.5em*2 - 4px);
  min-width: 0;
}

#online-circle {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
}

#messages {
  background-color: rgb(15, 33, 46);
  overflow-y: scroll;
  scrollbar-width: thin;
}

#tchat {
  background-color: rgb(37, 55, 66);
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 2px 7px 5px #000000;
  z-index: 5;
  overflow: visible;
}

.message-box {
  display: block;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(37, 55, 66);
  color: white;
  line-height: 1.3em;
}

.name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

#tchat input:first-of-type {
  color: rgb(255, 255, 255);
  background: rgb(15, 33, 46);
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px, rgb(0 0 0 / 12%) 0px 1px 2px 0px;
  border: 2px solid rgb(47, 69, 83);
  border-radius: 0.25rem;
  letter-spacing: 0px;
  font-weight: 500;
  transition: all 200ms ease-out 0s;
  outline: 0px;
  cursor: text;
  padding: 0.5em;
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  min-height: calc(1.5em + 4px);
  width: calc(100% - 1em - 44px);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

#tchat input:nth-child(2) {
  transition: all 0.1s ease 0.2s;
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  transition: background 300ms ease 0s, opacity 300ms ease 0s, transform 100ms ease 0s;
  line-height: 1.5;
  color: rgb(1, 62, 1);
  background: rgb(31, 255, 32);
  border: 2px solid rgb(31, 255, 32);
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px, rgb(0 0 0 / 12%) 0px 1px 2px 0px;
  padding: calc(0.5em + 2px) 1em;
  outline: none;
  width: 150px;
  -webkit-appearance: none;
}

#tchat input:nth-child(2):hover {
  background: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

#error {
  color: white;
  background-color: rgb(216, 44, 44);
  padding: 10px;
  border-radius: 3px;
  transition: all .2s ease .2s;
  display: none;
}

@media screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }

  .container{
    min-height: -webkit-fill-available;
  }

  #message-box {
    border-radius: 0px;
    max-height: -webkit-fill-available;
    height: 100vh;
  }
}