<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Tchat en ligne</title>
</head>

<body>
    <div class="container">
        <div id="message-box">
            <div id="header">
                <div id="online">
                    <div id="online-circle"></div>
                    <span id="user-count">18 online</span>
                </div>
                <div id="titre">
                    <h2>Tchat en ligne</h2>
                </div>
                <div id="username">
                    <input id="nickname" type="text" name="username" placeholder="Pseudo...">
                </div>
            </div>
            <div id="messages">
            </div>
            <div id="tchat">
                    <input id="message" type="text" name="tchat" placeholder="Ecrivez un message...">
                    <input id="sendMessage" type="submit" name="submit" value="Envoyer"
                        onclick="sendMessage(nickname.value, message.value)">
            </div>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
</body>

</html>